main {
    width: 80%;
    margin: 50px auto;
    /* text-align: center; */
}
table {
    margin: 50px auto;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}
th, td {
    padding: 5px;
}

/* alignment */
.field-margin {
    margin: 5px;
}
.center-align {
    text-align: center;
}

label {
    display: block;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
/* color */
.form-bg{
    background-color: #FFFAF0;
    /* background-color: #E6E6FA; */
    padding: 30px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}
/* .head-bg {
    /* background-color: antiquewhite; 
} */